{% extends 'base.html.twig' %}


{% block body %}
    {{parent()}}
    <link rel="stylesheet" href={{asset('css/Auth.css')}}>

    <div class="auth-container" id="auth-container">
    <div class="form-container sign-up-container">
        <h1>Create Account</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    <div class="form-container sign-in-container">
        <form method="post">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1>Sign In</h1>
            <span>or use your email for registration</span>
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" name="email" required>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit">Log in</button>
        </form>
    </div>
    <div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1 >Welcome Back!</h1>
            <p> keep connected with us please log in<br>with your personal info</p>
            <button class="ghost" id="signIn">Log In</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>   Hello, Friend!</h1>
            <p>   Enter your personal details and start </br>journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
        </div>
    </div>
    <script src={{asset('js/auth.js')}} defer ></script>

{% endblock %}