{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <link rel="stylesheet" href={{asset('css/general.css')}}>
    <link rel="stylesheet" href={{ asset('css/editProfilePage.css') }}>
    <div class="editProfile-container">
        <div class="left-column">
            <img src="{{ asset('images/user.png') }}" alt="Profile Picture" class="profile-picture" width="150">
            <h2 class="username">{{ user.username }}</h2>
        </div>
        <div class="right-column">
            <h2 class="section-title">Edit your profile</h2>
            {{ form_start(form) }}
                {{ form_row(form.username,{
                    'value':user.username
                }) }}
                {{ form_row(form.email,{
                    'value':user.email
                }) }}
{#            <a href="{{ path('app_edit_password') }}" class="change-link">Change your password</a>#}
            <div class="button-container">
                    <a href="/" class="cancel-button" rel="modal:close">Cancel Changes</a>
                    {{ form_row(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
