{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    <main class="flex" style="margin-top:12%">
        <!-- filter buttons  -->
        <div class="filter-box flex">
             <a href="{{ path('app_blog', {'page': currentPage, 'filter': 'recent'}) }}" class="filter-btn{{ currentFilter == 'recent' ? ' selected' }}">
                Recent
            </a>
            <a href="{{ path('app_blog', {'page': currentPage, 'filter': 'old'}) }}" class="filter-btn{{ currentFilter == 'old' ? ' selected' }}">
                Old
            </a>
            <a href="{{ path('app_blog', {'page': currentPage, 'filter': 'popular'}) }}" class="filter-btn{{ currentFilter == 'popular' ? ' selected' }}">
                Popular
            </a>
        </div>

        <!-- add btn for admin  -->
        {# to do : after sessions #}
        <a href='/addPost' class='add-btn'>+</a>


        <!-- contenu -->
        <section class="blog">
            <div class="content">
                <!-- blog  -->
                <div class="blog-articles" id="blogContainer">
                    <h1 class="h2 mb32">Blog</h1>
                    <!-- Articles -->
                    {% for post in posts %}
                        <a href='/post/{{ post.id }}' class='blog-article bg-white shadow-sm mb32' id='{{post.id}}'>
                            <div class='blog-preview' style='background: linear-gradient(96.55deg, {{post.bgColor1}} -25.2%, {{post.bgColor2}} 55.15%)'>
                                {% set dataImg = post.image %}
                                {% if dataImg is empty %}
                                    <img src="{{ asset('/images/hello.svg') }}"  width='auto' height='200' alt="Default Image">
                                {% else %}
                                    <img src="data:{{ post.imageFormat }};base64,{{ dataImg }}"   width='auto' height='200'alt="{{ post.title }}">
                                {% endif %}
                            </div>
                            <div class='blog-article-content'>
                                <h2 class='h3 mb16 black'>{{post.title}}</h2>
                                <div class='blog-description gray mb24'>{{post.description}}</div>
                                <div class='blog-article-content-info flex caption gray'>
                                    <div class='flex'>
                                        <img src='/images/user.png' width='36' height='36' alt='author'>
                                        <span class='ml8 mr24'>{{post.author.username}}</span>
                                        <span>{{post.date|date('F j, Y')}}</span>
                                    </div>
                                    <div class='interact flex' >
                                        <button class='like-btn' data-post-id='{{post.id}}'>
                                            {% if post.id in liked %}
                                                <img src={{asset('/images/like-active.svg')}}  alt='like'>
                                            {% else %}
                                                <img src={{asset('/images/like.svg')}}  alt='like'>
                                            {% endif %}
                                            <p>{{post.likes.count}}</p>
                                        </button>
                                        <button class='comment-btn' data-post-id='{{post.id}}'>
                                            <img src={{asset('/images/comment.svg')}} alt='comment'>
                                            <p>{{post.comments.count}}</p>
                                        </button>
                                        {% if  app.session.get('user').role == 'admin' %}
                                            <button class='more-btn'><img src={{asset('/images/more.svg')}} alt='more'></button>
                                            <div class='dropdown-menu'>
                                                <button class='edit-btn' data-post-id='{{post.id}}'>Edit</button>
                                                <button class='delete-btn' data-post-id='{{post.id}}'>Delete</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <!-- newsletter -->
                <div class="blog-sidebar newsletter gradient-orange">
                    <h3 class="mb8">Welcome</h3>
                    <div class="caption gray mb16">Our dedicated team uploads interesting articles on a weekly basis, covering a wide range of topics to inform, inspire, and entertain.</div>
                </div>
            </div>
        </section>

        <!-- Pagination buttons -->
        <div class="pagination">
            {% for i in 1..totalPages %}
                {% if totalPages > 8 %}
                    {% if i == currentPage %}
                        <a href="/blog/{{ i }}/{{ currentFilter }}" class="pagination-btn btn-white page-selected">{{ i }}</a>
                    {% elseif i == totalPages or (i >= currentPage - 2 and i <= currentPage + 2) %}
                        <a href="/blog/{{ i }}/{{ currentFilter }}" class="pagination-btn btn-white">{{ i }}</a>
                    {% elseif i == currentPage - 3 or i == currentPage + 3 %}
                        <span>...</span>
                    {% endif %}
                {% else %}
                    {% if i == currentPage %}
                        <a href="/blog/{{ i }}/{{ currentFilter }}" class="pagination-btn btn-white page-selected">{{ i }}</a>
                    {% else %}
                        <a href="/blog/{{ i }}/{{ currentFilter }}" class="pagination-btn btn-white">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    </main>

    <script src="{{ asset('js/Blog/Blog.js') }}" defer></script>
    <script src="{{ asset('js/Blog/LikeSystem.js') }}" defer></script>
{% endblock %}







