{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}
    <link rel="stylesheet" href={{asset('css/Article.css')}}>
    <link rel="stylesheet" href={{asset('css/general.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <main >
        <div class="full-article" id='<?= $username ?>'>
            <div class="full-article-content">
                <!-- Article  -->
                <h2 style="position: absolute; z-index:3;"><a href="/blog/1/recent"><</a></h2>
                <div class="article-container">
                    <h1 class="h2 mb32">{{post.title}}</h1>
                    <p class="article-content">{{post.description}}</p>
                    {% set dataImg = post.image %}
                    {% if dataImg is empty %}
                        <img src="{{ asset('/images/hello.svg') }}"  alt="article-image" class="article-img mb16">
                    {% else %}
                        <img src="data:{{ post.imageFormat }};base64,{{ dataImg }}"   alt="article-image" class="article-img mb16">
                    {% endif %}
                    <div class="article-info flex">
                        <div class="author-info">
                            <img src={{asset('images/user.png')}} width="32" height="32" alt="author">
                            <span class="ml8 mr32">{{post.author.username}}</span>
                        </div>
                        <span class="caption gray">{{post.date|date('F j, Y')}}</span>
                        <div class="interact">
                            <button class="like-btn">
                                <img src={{asset('images/like.svg')}} alt='like'>
                                <p>
                                    {{post.likes.count}}
                                </p>
                            </button>
                            <button>
                                <img src={{asset('images/comment.svg')}} alt="comment">
                                <p class="nb-comments">
                                    {{post.comments.count}}
                                </p>
                            </button>
                            {# <?php
                            if(isset($_SESSION['user']) && $_SESSION['user']->Role == "Admin"){
                                echo "<button class='more-btn'><img src='../public/images/more.svg' alt='more'></button>";
                                echo "<div class='dropdown-menu'>
                                <button class='edit-btn' data-post-id='" .$post["postId"]."'>Edit</button>
                                <button class='delete-btn' data-post-id='" .$post["postId"]."' >Delete</button>";
                                echo "</div>";
                            }
                            ?> #}
                        </div>
                    </div>
                </div>    
                <div class="comments-container" id="comments">
                    <h2 class="h2 mb32">Comments</h2>
                    <div class="comment-form">
                        <form id="comment-form" method="POST" action="/blog/comment?id=<?= $postId?>">
                            <textarea name="comment" class="mb16" placeholder="Write your comment here"></textarea>
                            <button type="submit" name="button" class="btn-white comment-btn">Comment</button>
                        </form>
                    </div>
                    <div class="comments">
                        {% for comment in post.comments %}
                            <div class='comment' id={{comment.id}}>
                                <div class='comment-info flex'>
                                    <div class='user'>
                                        <img src={{asset('images/user.png')}} width='32' height='32' alt='author'>
                                        <span class='ml8 mr24'>{{comment.user_id.username}}</span>
                                    </div>
                                    <span class='gray'>2 hours ago</span>
                                    <div class='comment-btns'>
                                        <button class='edit-comment-btn' id='1'>
                                            <img src={{asset('images/edit.png')}} alt='edit'>
                                        </button>
                                        <button class='delete-comment-btn' id='1'>
                                            <img src={{asset('images/delete.png')}} alt='delete'>
                                        </button>
                                    </div>
                                </div>
                                <textarea class='comment-content' readonly>{{comment.content}}</textarea>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <!-- newsletter -->
            <div class="blog-sidebar newsletter gradient-orange">
                <h3 class="mb8">Welcome</h3>
                <div class="caption gray mb16">Our dedicated team uploads interesting articles on a weekly basis, covering a wide range of topics to inform, inspire, and entertain.</div>
            </div> 
        </div>
    </main>

    <script src={{asset('js/Blog/Article.js')}} defer></script>
    <script src={{asset('js/Blog/LikeSystem.js')}} defer></script>
    <script src={{asset('js/Blog/CommentSystem.js')}} defer></script>
{% endblock %}
